.row
  .span13
    %h3
      Test Category Management
  .span3
    = link_to 'New Test category', new_test_category_path, :class => "btn primary"

%span.label.important
  Notice : If any test categories's test is assigned to any patient then that test category can not be deleted. It can only be deactivated.

.row
  .span15
    %table#TestCategory.zebra-striped
      %thead
        %tr
          %th S.No
          %th Name
          %th Description
          %th Status
          %th
          %th Action
          %th
      %tbody
      - if @test_categories.blank?
        %tr
          %td.textAlignCenter{:colspan => 6}
            No Records
      - else
        = render :partial => 'row', :collection => @test_categories, :as => :test_category