%ul.nav
  %li.dropdown{ "data-dropdown" => "dropdown" }
    %a.dropdown-toggle Browse
    %ul.dropdown-menu
      %li= link_to "Patient", patients_path
      %li= link_to "Test", tests_path
      %li= link_to "Doctors", doctors_path
      %li= link_to "Test Category", test_categories_path

=# link_to "Test", tests_path
=# link_to "Add Test", new_test_path
=# link_to "Test Category", test_categories_path
=# link_to "Add Test Category", new_test_category_path
=# link_to "Doctors", doctors_path
=# link_to "Add Doctors", new_doctor_path
=# link_to "Patient", patients_path
=# link_to "Add Patient", new_patient_path