%table#lineTest.zebra-striped.condensed
  %thead
    %tr
      %th S.No
      %th Test Code
      %th Test Name
      %th Test Fee
      %th Doctor's Charge
      %th
  %tbody
  - unless @cart.blank?
    = render :partial => "test", :collection => @cart.items
    %hr
    %tr
      %td
      %td
      %td
      %td#totalAmount= number_to_currency(@cart.total_amount, :unit => "Rs: ")
      %td#totalCommission= number_to_currency(@cart.total_commission, :unit => "Rs: ")