- unless @test.blank?
  $("#lineTest").append("#{ escape_javascript( render :partial => 'test', :locals => { :test => @test})}");
- else
  alert("Test is already added.");
$("#test_name_id_text").val("");
$('#patient_total_amount').val("#{@cart.total_amount}");