.row
  .span
    %h3
      Edit #{@patient.refrence_no} Patient
%br
= render 'form'

:javascript
  $("#patient_doctor_id").val("#{@patient.doctor_id}")
  $("#patient_doctor_id_text").val("#{@patient.doctor.name}");