- if @patient
  :plain
    $.dialog().open( "option", {
      title: "#{ escape_javascript( @patient.refrence_no ) }", width: "500px"
    } ).buttons({
            "Print" :{
              'text':'Print',
              'class': 'btn primary',
              'click': function(){
                  $("#print").printElement();
                   closeDialog();
              }}
        });

    // render model information with a to_html model method
    $.dialog().content.html(
      "#{ escape_javascript( render(:partial => 'prescription_print', :locals => { :patient => @patient }) ) }"
    );
- else
  :plain
    $.dialog().open_as_status( "option" {
      title: "No record found"
    } );
    $.dialog().content.html("<p>No record found.</p>");