.row
  .span12
    %h3 Doctors Account.
  .span2
    = link_to "Patient List", patients_list_doctor_url(@doctor), :class => "btn btn-width textAlignCenter primary"
  .span1
    =link_to 'Back', :back,  :class => "btn primary"
#print
  = render :partial => 'payment_status', :locals => {:doctor => @doctor}

  %table#accounts.zebra-striped.condensed
    %thead
      %tr
        %th Month
        %th Paymet Date
        %th Amount
        %th Paid Amount
        %th Dues till last payment
    %tbody
      - if @accounts.blank?
        %tr
          %td.textAlignCenter{:colspan => 7}
            No Records
      - else
        = render :partial => 'account_row', :collection => @accounts
.row
  .span14
    = link_to 'Payment', payment_doctor_path(@doctor.id), :remote => true, :class => "btn primary"
  .span2
    =button_to_function 'Print', '$("#print").printElement();', :class => "btn success"