.row
  .span13
    %h3
      Doctors Management
  .span3
    = link_to 'New Doctor', new_doctor_path, :class => "btn primary"


%span.label.important
  Notice : If any doctor referred to any patient then that doctor can not be deleted. It can only be deactivated.

= will_paginate( @doctors, :params => { :anchor => "Doctors" } )
.row
  .span15
    %table#Doctor.zebra-striped
      %thead
        %tr
          %th Code
          %th Name
          %th Designation
          %th Status
          %th.textAlignCenter{:width => 450} Action
      %tbody
      - if @doctors.blank?
        %tr
          %td.textAlignCenter{:colspan => 7}
            No Records
      - else
        = render :partial => 'row', :collection => @doctors, :as => :doctor

= will_paginate( @doctors, :params => { :anchor => "Doctors" } )