- if @doctor
  :plain
    $.dialog().open_as_status( "option", {
      title: "#{ escape_javascript( @doctor.code ) }"
    } );

    // render model information with a to_html model method
    $.dialog().content.html(
      "#{ escape_javascript( render(:partial => 'show', :locals => { :doctor => @doctor }) ) }"
    );
- else
  :plain
    $.dialog().open_as_status( "option" {
      title: "No record found"
    } );

    $.dialog().content.html("<p>No record found.</p>");