.row
  .span14
    %h3 Tests List
  .span2
    = link_to 'New Test', new_test_path, :class => "btn primary"


%span.label.important
  Notice : If any test is assigned to any patient then that test can not be deleted. It can only be deactivated.

= will_paginate( @tests, :params => { :anchor => "Tests" } )
.row
  .span18
    %table#Test.zebra-striped
      %thead
        %tr
          %th Test Category
          %th Code
          %th Name
          %th Commission type
          %th Fees
          %th Commission value
          %th Description
          %th Status
          %th.textAlignCenter{:width => 300} Action
      %tbody
      - if @tests.blank?
        %tr
          %td.textAlignCenter{:colspan => 7}
            No Records
      - else
        = render :partial => 'row', :collection => @tests, :as => :test

= will_paginate( @tests, :params => { :anchor => "Tests" } )
