- if @test
  :plain
    $.dialog().open( "option", {
      title: "#{ escape_javascript( @test.code.upcase ) }", width: "500px"
    } ).buttons({
          "Ok":{
              'text':'Ok',
              'class': 'btn primary',
              'click': function(){
                  closeDialog();
              }}
        });

    // render model information with a to_html model method
    $.dialog().content.html(
      "#{ escape_javascript( render(:partial => 'show', :locals => { :test => @test }) ) }"
    );
- else
  :plain
    $.dialog().open_as_status( "option" {
      title: "No record found"
    } );

    $.dialog().content.html("<p>No record found.</p>");